<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills Page</title>
    <link th:replace="~{fragments/header :: bootstrap-css}" />
    <link rel="stylesheet" th:href="@{/stylesheet/rights.css}">
</head>
<body>
<header th:replace="~{fragments/header}"></header>
<h1>Supporting Integration through Rights and Responsibilities in Wales</h1>
<p id="mainText">In seeking to become a Nation of Sanctuary, as well as through implementing the Anti Racist Wales Action Plan, the Welsh Government is seeking to eliminate inequalities and support integration. For people to fully integrate with Welsh communities, they need to understand their rights and responsibilities. Host community members equally have responsibilities to follow the law, engage with democratic processes and participate in local communities. Individuals also need to be able to exercise their rights to ensure they have the safety net which is sometimes required. This is why advice services and awareness-raising activities can play a critical role in supporting integration.</p>

<p id="body">Awareness of rights and responsibilities will support new migrants to build social connections and awareness of Welsh systems more quickly. Rights and responsibilities establish a common framework for interactions between all individuals in a community. It is therefore important that new migrants are supported to understand these as soon as possible.</p>
<p id="readMore">If you want to learn more, <a href="https://www.gov.wales/migrant-integration-framework-html#135686">click here!</a></p>


<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
