<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Resource Link</th>
    </tr>
    <tr th:each="work : ${workInfoList}">
        <td th:text="${work.title}"></td>
        <td th:text="${work.description}"></td>
        <td><a th:href="${work.resourceLink}" th:text="${work.resourceLink}"></a></td>
    </tr>
</table>
</body>
</html>