<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Work </title>
    <link th:replace="~{fragments/header :: bootstrap-css}" />
    <link rel="stylesheet" th:href="@{/stylesheet/skillsPage.css}">
</head>
<body>

<header th:replace="~{fragments/header}"></header>
<h1>Importance Of Work In Integration</h1>
<p id="mainText">  Being in employment (particularly in job roles which match migrants' skills and qualifications) can be a critical factor in promoting integration and independence. Employment provides social status, social connections and a sense of purpose. Supporting entrepreneurship and self-employment opportunities can also provide additional avenues for economic integration </p>
<a href="https://www.gov.wales/migrant-integration-framework-html#:~:text=Domain%205%3A%20education%20and%20skills%20(including%20language%2C%20communication%20and%20digital)">
    <button id="learnMore">Learn More</button>
</a>
<div th:replace="~{fragments/footer :: bootstrap-js}"></div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>